---
import loading from "../assets/loading.svg";

import GamePage from "../components/GamePage.svelte";

import matchupData from "../data/yomi/matchupData.json";
import characters from "../data/yomi/characters.json";
import scales from "../data/yomi/scales.json";
import aggregateSkill from "../data/yomi/playerSkill.json";
import players from "../data/yomi/players.json";
import favicon_svg from "../assets/favicon.svg";
import favicon_png from "../assets/favicon.png";
import Yomi1 from "$lib/components/Yomi1.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href={favicon_svg.src} />
    <link rel="icon" type="image/png" href={favicon_png.src} />

    <title>Yomi Matchup Chart</title>
  </head>

  <body>
    <nav class="nav nav-tabs">
      <a class="nav-link active" href="/yomi-skill">Yomi Skill Chart</a>
    </nav>
    <Yomi1
      {matchupData}
      {characters}
      {scales}
      {aggregateSkill}
      {players}
      client:load
    />
  </body>
</html>
